$colour1: #3b2f2f;
$colour2: #f8f8f8;
$colour3: #128482;
$colour4: #d0491e;

$xmargin: 6%;

* {
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
  list-style: none;
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}

body {
  min-height: 100vh;
}

.header,
.footer {
  background-color: $colour3;
  * {
    color: $colour2;
  }
}

.header {
  .header-content {
    margin: 0 $xmargin;
    text-align: center;
    .header-nav {
      padding: 7px 0;
      .nav-links {
        display: flex;
        justify-content: space-around;
        .nav-link {
          cursor: pointer;
          font-size: 21px;

          transition: 0.3s color ease-in-out;
        }
        .nav-link:hover {
          color: $colour4;
        }
      }
    }
  }
}

.main {
  padding: 21px $xmargin;
}

.footer {
  bottom: 0;
  padding: 7px $xmargin;
  position: absolute;
  text-align: right;
  width: 100%;
  .footer-link {
    .footer-link-icon {
      font-size: 21px;
    }
  }
}
